<h1>Contact Edit</h1>
<mat-card *ngIf="contact$ | async as contact">
  <mat-card-content fxLayout="column" fxLayoutAlign="start start">
    <mat-form-field>
      <input type="text" matInput [(ngModel)]="contact.name">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Company" [(ngModel)]="contact.companyId">
        <mat-option *ngFor="let company of companies$ | async" [value]="company.id">{{company.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="right">
    <button mat-raised-button color="primary" (click)="saveContact(contact)" *ngIf="isNew">Add</button>
    <button mat-raised-button color="primary" (click)="editContact(contact)" *ngIf="!isNew">Save</button>
    <button mat-raised-button (click)="deleteContact()" *ngIf="!isNew">Delete</button>
  </mat-card-actions>
</mat-card>
